<html>
    <head>
        <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="godwords.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
        <link href="style.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-12">
                            <img src="deargodlogo.png" alt="Dear God" id="title" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h3>The answer to all your prayers!</h3>
                        </div>
                    </div>
                    <div class="container content">
                        <div class="row">
                            <div class="col-xs-12">
                                <em><span id="god-words"><%= words %></span></em>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                An app that can answer your questions when nobody else can.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                Developed By Laura Biester, Thomas Redding, Josie Bealle and Wanchen Yao at HackISU 2015
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6" class="mockup">
                    <div id="mockup-carousel" class="carousel slide" data-ride="carousel" class="mockup">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#mockup-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#mockup-carousel" data-slide-to="1"></li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="item active mockup-div">
                                <img src="mockup.png" alt="Asking God a Question" class="mockup">
                            </div>
                            <div class="item mockup-div">
                                <img src="mockup2.png" alt="Viewing Questions" class="mockup">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </body>
</html>
